<div class="panel-title">
    <div class="row">
        <div class="col text-center">
            <h1>Inicio</h1>
        </div>
    </div>
</div>

<br>
<div class="">
    <div class="jumbotron">
        <h1 class="display-4">Seguimiento Pacientes Covid19</h1>
        <p class="lead">Esta es una aplicación para le seguimiento de pacientes covid</p>
        <hr class="my-4">
        <h3>Total Pacientes registrados: <span class="badge badge-secondary">{{Totals.TotalPatients}}</span></h3>
      </div>
</div>

